.hero {
  background-color: #333;
}

.page {
  max-width: 800px;
  margin: 40px auto;
}

.orb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.shell {
  background-color: #f7f7f7;
  padding: 20px;
}
