body { background-color: #f2f2f2; }

.hero { background-image: linear-gradient(to bottom, #333, #444); }

.reveal { animation: reveal 5s forwards; }

@keyframes reveal { from { opacity: 0; transform: translateY(100px); } to { opacity: 1; transform: translateY(0); } }
